/* Styling for the tooltips */
/* ---------------------------------------------------------------------------- */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.gold-tooltip {
    width: 240px;
    height: 200px;
    background: #191919;
    color: #fff;
    margin-top: 20px;
    margin-left: -100px;
    opacity: 0.925;
    display: grid;
    grid-template-rows: 30px 1fr 40px;
}

.troop-tooltip {
    width: 360px;
    height: 270px;
    background: #191919;
    color: #fff;
    margin-top: 20px;
    margin-left: -160px;
    opacity: 1;
    display: grid;
    grid-template-rows: 30px 30px 1fr;
}

.troop-container-header {
    border-bottom: 1px solid white;
    height: 30px !important;
    margin-top: 0px !important;
}

.troop-container {
    width: 80%;
    height: 40px;
    display: grid;
    margin: 10px auto;
    grid-template-columns: 25% 1fr 1fr;
}

.troop-container > img {
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 auto;
}

.troop-container > span {
    display: block;
    padding-top: 5px;
}

.settings-tooltip {
    width: 280px;
    height: 30px;
    background: #191919;
    color: #fff;
    margin-left: -120px;
}

.troop-disabled-button > .tooltiptext {
    visibility: hidden !important;
}