/* Styling for the lord modal */
/* ---------------------------------------------------------------------------- */

.lord-modal {
    width: 550px;
    height: 750px;
    background: #b8bbc0;
    border-radius: 20px;
    position: absolute;
    margin-top: 100px;
    margin-left: calc(50% - 300px);
    display: grid;
    grid-template-columns: 15px 1fr 1fr 15px;
    grid-template-rows: 20px 50px 225px 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    border: 1px solid #49505c;
}

/* Styling for the lord name and image */
/* ---------------------------------------------------------------------------- */

.lord-title {
    grid-area: 2 / 2 / 3 / 4;
    text-align: center;
    color: #49505c;
}

.lord-title > span {
    display: block;
    padding-top: 15px;
    font-size: 25px;
}

.lord-image {
    grid-area: 3 / 2 / 4 / 4;
}

.lord-image > img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: 2px solid #49505c;
    border-radius: 10px;
}

/* Styling for the lord stats like income or current army troops */
/* ---------------------------------------------------------------------------- */

.lord-stats {
    grid-area: 4 / 2 / 5 / 4;
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: 50px 50px;
    text-align: center;
    color: #49505c;
}

.lord-stats > .lord-data {
    display: grid;
    grid-template-columns: 25% 1fr;
    color: #49505c;
    width: 250px;
    margin: 0 auto;
}

.lord-stats > .lord-data > img {
    width: 40px;
    height: 40px;
    display: block;
    padding-top: 5px;
    margin: 0 auto;
}

.lord-stats > .lord-data > span {
    font-size: 20px;
    display: block;
    padding-top: 15px;
}

.lord-stats > div {
    border: 1px solid #49505c;
    border-radius: 5px;
}

.lord-troops {
    width: 250px;
    height: 90%;
    margin: 0 auto;
}

.lord-stats > div > .lord-troop-container {
    height: 30px;
    display: grid;
    margin: 20px auto;
    grid-template-columns: 25% 1fr;
}

.lord-troop-container > img {
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
}

.lord-troop-container > span {
    font-size: 20px;
    color: #49505c;
    padding-top: 7.5px;
}

.lord-troop-header {
    height: 30px;
}

.lord-troop-header > span {
    display: block;
    padding-top: 7px;
    font-size: 20px;
}


@media only screen and (min-height: 800px) and (min-width: 1280px) and (max-width: 1400px) {
    .lord-modal {
        height: 750px;
    }

    .lord-modal {
        margin-top: 12.5px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1550px) and (min-height: 800px) {
    .lord-modal {
        height: 800px;
        margin-top: 50px;
    }
}
