/* Styling for the settlement modal */
/* ---------------------------------------------------------------------------- */

.settlement-modal {
    width: 725px;
    height: 800px;
    background: #b8bbc0;
    border-radius: 20px;
    position: absolute;
    margin-top: 100px;
    margin-left: calc(50% - 350px);
    display: grid;
    grid-template-columns: 15px 42.5% 1fr 15px;
    grid-template-rows: 20px 50px 110px 1fr 50px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    border: 1px solid #49505c;
}

.settlement-modal-close-container {
    grid-area: 1 / 2 / 2 / 4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.settlement-modal-close-btn {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 93%;
    margin-top: -2.5%;
    position: absolute;
    border: 2px solid #49505c;
    background: white;
    cursor: pointer;
    text-align: center;
}

.lord-modal-close-btn {
    margin-left: 90% !important;
}

.troop-modal-close-btn {
    margin-left: 61% !important;
}

.settlement-modal-close-btn > span {
    font-size: 25px;
    display: block;
    padding-top: 15px;
    color: #49505c;
}

.settlement-modal-close-btn:hover {
    background: #b8bbc0;
}

.settlement-modal-name {
    grid-area: 2 / 2 / 3 / 4;
    text-align: center;
}

.settlement-modal-name > span {
    font-size: 35px;
    color: #49505c;
    display: block;
    padding-top: 10px;
}

.settlement-lordship {
    grid-area: 3 / 3 / 4 / 4;
    display: grid;
    grid-template-columns: 35% 1fr;
    text-align: center;
    background: #a1a4ab;
    border-radius: 10px;
}

.settlement-lord-text {
    display: block;
    padding-top: 40px;
    font-size: 22px;
    color: #49505c;
}

.settlement-lord-icon {
    width: 100px;
    height: 100px;
    margin: 2.5px auto;
    display: block;
    border: 2px solid #49505c;
    border-radius: 15px;
}

.settlement-action-container {
    grid-area: 4 / 3 / 5 / 4;
    display: grid;
    grid-template-rows: 60px 60px 60px 1fr;
    grid-row-gap: 10px;
}

.settlement-action-container > .settlement-enemy-overview {
    grid-area: 1 / 1 / 4 / 2;
    text-align: center;
    color: #49505c;
    font-size: 24px;
    padding-top: 60px;
}

.settlement-action-container > button {
    margin: 0 auto;
    display: block;
    background: #7b0606;
    color: white;
    width: 80%;
    height: 60px;
    border-radius: 5px;
    border: 4px solid #c7994c;
    cursor: pointer;
    font-size: 18px;
}

.settlement-info {
    border-radius: 20px;
    border: 2px solid #49505c;
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-rows: 40px 50px 1fr;
    grid-row-gap: 10px;
    text-align: center;
    color: #49505c;
    grid-area: 4 / 1 / 5 / 2;
}

.settlement-info > .header-span {
    padding: 10px;
    display: block;
    font-size: 20px;
}

.settlement-info > span {
    padding: 10px;
    display: block;
    font-size: 17px;
}

.troop-span {
    color: #7b0606;
}

.settlement-info > .income-span {
    color: #02993b;
}

.stationed-troops-overview {
    display: grid;
    grid-template-rows: 25px 1fr;
    width: 100%;
}

.troop-station-icon {
    height: 30px;
    width: 30px;
    margin-left: -5px;
}

.stationed-troop-container {
    width: 80%;
    height: 30px !important;
    display: grid;
    margin: 2.5px auto !important;
    grid-template-columns: 25% 1fr 1fr;
}

.settlement-illustration-container {
    grid-area: 3 / 2 / 5 / 3;
    border-radius: 25px;
    border: 1px solid #49505c;
}

.settlement-illustration-container > img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

/* Styling for troop recruiting */
/* ---------------------------------------------------------------------------- */

.settlement-troop-recruiting {
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-rows: 65px 50px 50px 50px 50px 50px 1fr;
    grid-row-gap: 10px;
    text-align: center;
}

.troop-recruit-button-text {
    padding-top: 0px;
    display: block;
}

.settlement-troop-recruiting > span {
    color: #49505c;
    font-size: 22px;
    display: block;
    padding-top: 25px;
}

.troop-recruiting-container {
    display: grid;
    grid-template-columns: 60px 50px 75px 100px 1fr;
    border: 1px solid #49505c;
    text-align: center;
    border-radius: 10px;
}

.troop-recruiting-header {
    display: grid;
    grid-template-columns: 60px 50px 50px 1fr;
}

.troop-recruiting-header > div > img {
    width: 70%;
    height: 70%;
    display: block;
    margin: 5px auto;
}

.troop-recruiting-header > .troop-settlement-header {
    grid-area: 1 / 2 / 4 / 3;
}

.troop-recruiting-header > .troop-army-header {
    grid-area: 1 / 3 / 4 / 3;
}

.troop-disabled-button {
    opacity: 0.2;
}

.troop-recruiting-tooltip {
    width: 150px;
    height: 60px;
    background: #191919;
    color: #fff;
    margin-top: -60px;
    margin-left: 50px;
    opacity: 0.925;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.troop-recruiting-tooltip > span {
    font-size: 16px;
    display: block;
    padding-top: 10px;
}

.troop-recruiting-container > img {
    width: 40px;
    height: 40px;
    margin: 2.5px auto;
    display: block;
}

.troop-recruiting-container > span {
    color: #49505c;
    font-size: 18px;
    display: block;
    padding-top: 12.5px;
}

.troop-recruiting-container > div {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: right;
}

.troop-recruiting-container > div > img {
    height: 35px;
    width: 35px;
    margin: 5px auto;
    display: block;
}

.troop-recruiting-container > div > span {
    color: #49505c;
    font-size: 18px;
    display: block;
    padding-top: 12.5px;
}

.troop-recruiting-container > button {
    margin: 5px auto;
    display: block;
    background: #7b0606;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 4px solid #c7994c;
    cursor: pointer;
    font-size: 25px;
}

.settlement-troop-recruiting > button {
    margin: 0 auto;
    display: block;
    background: #7b0606;
    color: white;
    width: 80%;
    height: 60px;
    border-radius: 5px;
    border: 4px solid #c7994c;
    cursor: pointer;
    font-size: 18px;
}

/* Styling for troop stationing */
/* ---------------------------------------------------------------------------- */

.settlement-troop-stationing {
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-rows: 65px 50px 50px 50px 50px 50px 1fr;
    grid-row-gap: 10px;
    text-align: center;
}

.settlement-troop-stationing > span {
    color: #49505c;
    font-size: 22px;
    display: block;
    padding-top: 25px;
}

.troop-stationing-container {
    display: grid;
    grid-template-columns: 60px 40px 80px 50px 50px 1fr;
    grid-column-gap: 10px;
    border: 1px solid #49505c;
    text-align: center;
    border-radius: 10px;
}

.troop-stationing-container > img {
    width: 40px;
    height: 40px;
    margin: 2.5px auto;
    display: block;
}

.troop-stationing-container > span {
    color: #49505c;
    font-size: 18px;
    display: block;
    padding-top: 12.5px;
}

.troop-stationing-container > div {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: right;
}

.troop-stationing-container > div > img {
    height: 35px;
    width: 35px;
    margin: 5px auto;
    display: block;
}

.troop-stationing-container > div > span {
    color: #49505c;
    font-size: 18px;
    display: block;
    padding-top: 12.5px;
}

.troop-stationing-container > button {
    margin: 5px auto;
    display: block;
    background: #7b0606;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 4px solid #c7994c;
    cursor: pointer;
    font-size: 25px;
}

.settlement-troop-stationing > button {
    margin: 0 auto;
    display: block;
    background: #7b0606;
    color: white;
    width: 80%;
    height: 60px;
    border-radius: 5px;
    border: 4px solid #c7994c;
    cursor: pointer;
    font-size: 18px;
}

/* Styling for building upgrading */
/* ---------------------------------------------------------------------------- */

.settlement-building-upgrading {
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-rows: 65px 250px 1fr;
    grid-row-gap: 10px;
    text-align: center;
}


.settlement-building-upgrading > span {
    color: #49505c;
    font-size: 22px;
    display: block;
    padding-top: 25px;
}

.settlement-building-component {
    display: grid;
    grid-template-columns: 60px 1fr 30px 50px;
    grid-column-gap: 10px;
    border: 1px solid #49505c;
    text-align: center;
    border-radius: 10px;
    height: 70px;
    width: 95%;
    margin: 10px auto;
}

.settlement-building-component > div > span {
    color: #49505c;
    font-size: 18px;
    display: block;
    padding-top: 25px;
}

.settlement-building-component > div > button {
    margin: 15px auto;
    display: block;
    background: #7b0606;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 4px solid #c7994c;
    cursor: pointer;
    font-size: 25px;
}

.info-icon {
    margin: 20px auto;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.settlement-building-upgrading > div > button {
    margin: 0 auto;
    display: block;
    background: #7b0606;
    color: white;
    width: 80%;
    height: 60px;
    border-radius: 5px;
    border: 4px solid #c7994c;
    cursor: pointer;
    font-size: 18px;
}


.building-level-tooltip {
    width: 400px;
    height: 220px;
    background: #191919;
    color: #fff;
    margin-top: -20px;
    margin-left: -130px;
    opacity: 0.925;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr 1fr;
    text-align: center;
}

.building-upgrade-tooltip {
    width: 180px;
    height: 80px;
    font-size: 16px !important;
    background: #191919;
    color: #fff;
    margin-top: 0px;
    margin-left: -75px;
    opacity: 0.925;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr 1fr;
    text-align: center;
}

.buildings-info-container {
    display: grid;
    grid-template-columns: 25% 1fr 30%;
    text-align: center;
}

@media only screen and (min-height: 800px) and (min-width: 1280px) and (max-width: 1400px) {
    .settlement-modal {
        height: 750px;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1550px) and (min-height: 800px) {
    .settlement-modal {
        height: 800px;
        margin-top: 50px;
    }
}
